<div class="pull-left">
    <a class="navbar-brand" href="/@ViewBag.userrole">
        <div class="navbar-logo">
            <img class="img-responsive" alt="logo" src="/img/logos/logo-red-small.png">
        </div>
    </a>
</div>

@*    <div class="header-search-area">
        <div class="console-btn padding-none">
            <div class="console-icon divider-right pull-left"> <span class="glyphicons glyphicons-search"></span> </div>
            
            <div class="console-filter header pull-left">
                <input type="text" id="filterSearch" class="search-bar form-control" placeholder="Search tracking numbers, addresss, names...">
            </div>
            <div class="console-icon divider-left pull-left"><a href="/Manager/TrakLog" class="btn btn-default margin-bottom-sm">Search</a> </div>

        </div>
    </div>*@