<div class="container hero">
    <div class="row">
        <div class="col-md-12">
            <div class="hero-content">
                <h1 class="your-move">Make Your Move</h1>
                <h2 class="sub">Buy, Sell, search and gain instant access to properties worldwide.</h2>
            </div>
        </div>
    </div>
    <div class="row home-search spacer center">
        <div class="col-md-12">
            <form class="form-inline">
                <input type="text" class="form-control" placeholder="Sale or Lease" aria-describedby="basic-addon2">
                <a href="#" class="btn btn-search">search</a>
            </form>
        </div>
    </div>
</div>
