<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3>PROPERTIES</h3>
                <ul>
                    <li><a href="/home/browse">Browse Listings</a></li>
                    <li><a href="/home/buy">Buy Property</a></li>
                    <li><a href="/home/sell">Sell Property</a></li>
                    <li><a href="/home/lease">Lease Property</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>ABOUT</h3>
                <ul>
                    <li><a href="/home/whyboxlty">Why Boxlty</a></li>
                    <li><a href="/home/howitworks">How It Works</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>SUPPORT</h3>
                <ul>
                    <li><a href="/account/register">Signup</a></li>
                    <li><a href="/home/faq">Kit & Accessories</a></li>
                    <li><a href="/home/faq">FAQs</a></li>
                    <li><a href="/home/support">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>ACCOUNT</h3>
                <ul>
                    <li><a href="/account/login">Log In</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <img src="/img/footer-logo.png" alt="Boxlty Logo" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row spacer copyright">
            <div class="col-md-6">
                <p>&copy; @DateTime.Now.Year Boxlty. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-right">
                <p><a href="/policy/terms">Terms & Conditions</a> | <a href="/policy/privacy">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>