<div class="row spacer">
    <div class="col-md-12 center">
        <h1>Recently Added</h1>
    </div>
</div>
<div class="row spacer">
    <div class="col-md-4">
        <div class="listing-box">
            <img src="/img/house-1.png" alt="Featured Listing" />
            <div class="listing-box-details">
                <div class="listing-box-left">
                    <h2>$1,500,000</h2>
                    <div class="address">
                        <h3>1322 Main Street</h3>
                        <h3>Newark, NJ</h3>
                    </div>
                </div>
                <div class="listing-box-right">
                    <div class="listing-details">
                        <div class="listing-details-content">
                            <i class="fa fa-bed icon-gray" aria-hidden="true"></i>
                            <span>5</span>
                        </div>
                        <div class="listing-details-content">
                            <i class="fa fa-bath icon-gray" aria-hidden="true"></i>
                            <span>2</span>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="listing-box">
            <img src="/img/house-3.png" alt="Featured Listing" />
            <div class="listing-box-details">
                <div class="listing-box-left">
                    <h2>$1,500,000</h2>
                    <div class="address">
                        <h3>1322 Main Street</h3>
                        <h3>Newark, NJ</h3>
                    </div>
                </div>
                <div class="listing-box-right">
                    <div class="listing-details">
                        <div class="listing-details-content">
                            <i class="fa fa-bed icon-gray" aria-hidden="true"></i>
                            <span>5</span>
                        </div>
                        <div class="listing-details-content">
                            <i class="fa fa-bath icon-gray" aria-hidden="true"></i>
                            <span>2</span>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="listing-box">
            <img src="/img/house-3.png" alt="Featured Listing" />
            <div class="listing-box-details">
                <div class="listing-box-left">
                    <h2>$1,500,000</h2>
                    <div class="address">
                        <h3>1322 Main Street</h3>
                        <h3>Newark, NJ</h3>
                    </div>
                </div>
                <div class="listing-box-right">
                    <div class="listing-details">
                        <div class="listing-details-content">
                            <i class="fa fa-bed icon-gray" aria-hidden="true"></i>
                            <span>5</span>
                        </div>
                        <div class="listing-details-content">
                            <i class="fa fa-bath icon-gray" aria-hidden="true"></i>
                            <span>2</span>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
