@{
    Layout = null;
}

<header class="navbar navbar-fixed-top">
    <div class="pull-left">
        <a class="navbar-brand" href="dashboard.html">
            <div class="navbar-logo">
                <img src="img/logos/logo-red.png" class="img-responsive" alt="logo">
            </div>
        </a>
    </div>
    <div class="pull-right header-btns">
        <div class="messages-menu">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-comment"></span> <b>4</b>
            </button>
            <ul class="dropdown-menu checkbox-persist" role="menu">
                <li class="menu-arrow">
                <div class="menu-arrow-up"></div>
                </li>
                <li class="dropdown-header">Recent Messages <span class="pull-right glyphicons glyphicons-comment"></span></li>
                <li>
                <ul class="dropdown-items">
                    <li>
                    <div class="item-avatar">
                        <img src="img/avatars/header/2.jpg" class="img-responsive" alt="avatar">
                    </div>
                    <div class="item-message">
                        <b>Maggie</b> - <small class="text-muted">12 minutes ago</small><br>
                        Pressing New Messaege!
                    </div>
                    </li>
                </ul>
                </li>
                <li class="dropdown-footer">
                <a href="#">View All Messages <i class="fa fa-caret-right"></i> </a>
                </li>
            </ul>
        </div>


        <div class="btn-group user-menu">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicons glyphicons-user"></span> <b>Jon Ezra ! Admin</b>
            </button>
            <button type="button" class="btn btn-default btn-gradient btn-sm dropdown-toggle padding-none" data-toggle="dropdown">
            <img src="img/avatars/header/header-login.png" alt="user avatar" width="28" height="28">
            </button>
            <ul class="dropdown-menu checkbox-persist" role="menu">
                <li class="menu-arrow">
                <div class="menu-arrow-up"></div>
                </li>
                <li class="dropdown-header">Your Account <span class="pull-right glyphicons glyphicons-user"></span></li>
                <li>
                <ul class="dropdown-items">
                    <li>
                    <div class="item-icon">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <a class="item-message" href="messages.html">Messages</a>
                    </li>
                    <li>
                    <div class="item-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <a class="item-message" href="calendar.html">Calendar</a>
                    </li>
                    <li class="border-bottom-none">
                    <div class="item-icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <a class="item-message" href="customizer.html">Settings</a>
                    </li>
                    <li class="padding-none">
                    <div class="dropdown-lockout">
                        <i class="fa fa-lock"></i> <a href="screen-lock.html">Screen Lock</a>
                    </div>
                    <div class="dropdown-signout">
                        <i class="fa fa-sign-out"></i> <a href="login.html">Sign Out</a>
                    </div>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</header>