@using snapi
@{
    ViewBag.Title = "Account Support";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}




@*Page title*@
<div class="container container_body spacer-large">
    <div class="row">
        <div class="col-md-12 text-center spacer">
            <h1 class="text-uppercase section-font deal_title">MARKETING & SUPPORT</h1>
        </div>
    </div>
</div>


<div class="container container-body text-center">
    <div class="spacer">
       Signs, flyers, cards, posters, cameras, boxes...all right to your door!
    </div>
    <div class="spacer">
        Help, customer support, how-to videos, and plan upgrads!
    </div>

</div>


@*equipment returns*@
<section class="bg spacer-large section-padding">
    <div class="container">
        <div class="row section-font sectionbottomspacing">
            

            <i class="fa fa-wrench fa-3x col-md-1 sideiconspacing" aria-hidden="true"></i>
            <h2 class="settings section-font text-uppercase col-md-6 section-bottom-spacing settings_nomargin">Equipment</h2>

        </div>
        <div>
            <ul class="list-vertical">
                <li class="deskspacing">
                    Order More <a class="fa fa-cart-arrow-down icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="deskspacing">
                    Exchange <a class="fa fa-exchange icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="deskspacing">
                    Return <a class="fa fa-envelope-o icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="deskspacing">
                    @*<button class="btn-block btn-primary save-button spacer">Deal Desk Center</button>*@
                </li>

            </ul>
        </div>

    </div>
</section>


@*how to videos Section*@
<section class="spacer section-padding">
    <div class="container">
        <div class="row section-font sectionbottomspacing">
            <i class="fa fa-video-camera fa-3x col-md-1" aria-hidden="true"></i>
            <h2 class="settings section-font text-uppercase col-md-6 settings_nomargin">How-To Videos</h2>
        </div>
        Add videos here.
        <div>
            <iframe width="560" height="315" src="https://drive.google.com/open?id=0BzKyXtWN_i29S2xJbWtuRW5BSjQ" frameborder="0" allowfullscreen></iframe>
        </div>


     

    </div>
</section>

@*Boxlty Installation Instructions returns*@
<section class="bg spacer-large section-padding">
    <div class="container">
        <div class="row section-font sectionbottomspacing">
            
            <i class="fa fa-university fa-3x col-md-1 sideiconspacing" aria-hidden="true"></i>
            <h2 class="settings section-font text-uppercase col-md-6 section-bottom-spacing settings_nomargin">Boxlty Installation Instructions</h2>
        </div>
        <div class="spacer">
            From start to finish, Boxlty provides you with the technology, support and guidance to successfully show and sell your home.
        </div>
       

    </div>
</section>



@*Box pros Section*@
<section class="spacer section-padding">
    <div class="container">
        <div class="row section-font sectionbottomspacing">
            
            <i class="fa fa-user fa-3x col-md-1" aria-hidden="true"></i>
            <h2 class="settings section-font text-uppercase col-md-6 settings_nomargin">Boxtly Professionals</h2>
        </div>

         <div>
             <ul class="list-vertical">
                 <li class="deskspacing">
                     Agents <a href="#" class="fa fa-users icon_margin_left" aria-hidden="true"></a>
                 </li>
                 <li class="deskspacing">
                     Mortgage <a href="#" class="fa fa-home icon_margin_left" aria-hidden="true"></a>
                 </li>
                 <li class="deskspacing">
                     Inspection <a href="#" class="fa fa-check-circle icon_margin_left" aria-hidden="true"></a>
                 </li>
                 <li class="deskspacing">
                     Title Companies <a href="#" class="fa fa-certificate icon_margin_left" aria-hidden="true"></a>
                 </li>
                 <li class="deskspacing">
                     Cleaning Services <a href="#" class="fa fa-paint-brush icon_margin_left" aria-hidden="true"></a>
                 </li>
                 <li class="deskspacing">
                     Other <a href="#" class="fa fa-plus-circle icon_margin_left" aria-hidden="true"></a>
                 </li>
             </ul>
         </div> 

    </div>
 </section>

@*FAQ's returns*@
<section class="bg spacer section-padding">
    <div class="container">
        <div class="row section-font sectionbottomspacing">
            
            <i class="fa fa-question-circle fa-3x col-md-1 sideiconspacing" aria-hidden="true"></i>
            <h2 class="settings section-font text-uppercase col-md-6 section-bottom-spacing settings_nomargin">Buying & Selling FAQ's</h2>
        </div>
        Add FAQ's here (need copy specific to logged in users)
        



    </div>
</section>



    @*Price plan selection*@

    <section class="pricing-tables spacer">

        <div class="container content">
            <div class="row section-font sectionbottomspacing">
                <i class="fa fa-arrow-circle-up fa-3x col-md-1 sideiconspacing" aria-hidden="true"></i>
                <h2 class="settings section-font text-uppercase col-md-6 section-bottom-spacing settings_nomargin">Upgrade Boxlty Plan</h2>

            </div>


            <div class="row spacer-large">
                <!-- Pricing -->
                <div class="col-md-4">
                    <div class="pricing">
                        <div class="pricing-head">
                            <h3>STARTER</h3>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li class="stripe-even">
                                At vero eos
                            </li>
                            <li class="stripe-odd">
                                No Support
                            </li>
                            <li class="stripe-even">
                                Fusce condimentum
                            </li>
                            <li class="stripe-odd">
                                Ut non libero
                            </li>
                            <li class="stripe-even">
                                Consecte adiping elit
                            </li>
                        </ul>
                        <div class="pricing-footer">
                            <h4>
                                <i>$</i>5<i>.49</i>
                            </h4>
                            <h5>
                                Per Month
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing pricing-active hover-effect">
                        <div class="pricing-head pricing-header-special">
                            <h3>
                                <span>MOST POPULAR</span>
                                FULL ACCESS
                            </h3>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li class="stripe-even">
                                At vero eos
                            </li>
                            <li class="stripe-odd">
                                No Support
                            </li>
                            <li class="stripe-even">
                                Fusce condimentum
                            </li>
                            <li class="stripe-odd">
                                Ut non libero
                            </li>
                            <li class="stripe-even">
                                Consecte adiping elit
                            </li>
                        </ul>
                        <div class="pricing-footer extra">
                            <h4>
                                <i>$</i>5<i>.49</i>
                            </h4>
                            <h5>
                                Per Month
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing">
                        <div class="pricing-head">
                            <h3>
                                POWER
                            </h3>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li class="stripe-even">
                                At vero eos
                            </li>
                            <li class="stripe-odd">
                                No Support
                            </li>
                            <li class="stripe-even">
                                Fusce condimentum
                            </li>
                            <li class="stripe-odd">
                                Ut non libero
                            </li>
                            <li class="stripe-even">
                                Consecte adiping elit
                            </li>
                        </ul>
                        <div class="pricing-footer">
                            <h4>
                                <i>$</i>5<i>.49</i>
                            </h4>
                            <h5>
                                Per Month
                            </h5>

                        </div>
                    </div>
                </div>

                <!--//End Pricing -->
            </div>
        </div>
        <!-- Savings Slider Here:
           <div class="row">
               <div class="col-md-12 text-center">
                   <img src="/img/savings_slider.png" />
               </div>
           </div> -->

    </section>


    @*contact section*@
    <div class="row spacer">
        <section class="gray-bg section-pad medium">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 center">
                            <h1>CONTACT</h1>
                            <h3>Get in touch with the Boxlty team.</h3>
                        </div>
                    </div>
                    <div class="row">
                        <form class="contact">
                            <div class="col-md-6">
                                <input type="text" class="form-control spacer" id="name" placeholder="name" />
                                <input type="text" class="form-control spacer" id="email" placeholder="email" />
                                <input type="text" class="form-control spacer" id="phone" placeholder="phone" />
                            </div>
                            <div class="col-md-6">
                                <select class="form-control spacer">
                                    <option>select question</option>
                                </select>
                                <input type="text" class="form-control spacer description" id="description" placeholder="description">
                                <button class="btn btn-lg btn-pink spacer pull-right">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

