@using snapi
@{
    ViewBag.Title = "Marketing Center";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}


@*Page title*@
<div class="container container-body">
    <div class="row spacer-large">
        <h1 class="text-uppercase col-md-6 section-font">Marketing Center</h1>
    </div>
</div>