@using snapi
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}



<div class="hero-unit buy">
    <div class="container hero">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-content">
                    <h1 class="your-move">BUY</h1>
                    <h2 class="sub">Own It. Explore listings, see homes instantly or schedule a private showing.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-overlay"></div>
</div>
<div class="container">
    <div class="row spacer-large">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-10 center">
            <h1 class="no-margin">Discover, Buy, Sell, Save.</h1>
            <h3>
                Discover the industry's most intelligent and efficient way to showcase your property, save your equity and find the perfect home. Why pay more for our competitor’s outdated technology and expensive 6% fees? Get notified instantly about showings, offers from potential buyers for as low as 1.5% 
            </h3>
           
        </div>
        <div class="col-md-1">&nbsp;</div>
    </div>
</div>

    <section class="buy section-spacer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-pad right vcenter">
                    <img src="/img/buy-1.png" class="half_width" alt="Discover Boxlty" />
                </div><!--
                --><div class="col-md-6 vcenter half-text">
                    <h1>DISCOVER</h1>
                    <p>See a property you're interested in? Explore a whole new way to purchase or lease a home. Scan the Boxlty QR code on the for sale sign, or download the Boxlty app to explore the market.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sell">
        <div class="container">
            <div class="row">
                <div class="col-md-6 vcenter half-text">
                    <h1>SCHEDULE</h1>
                    <p>Your showing, your way. Once verified, easily set up showings through the app that work alongside your busy schedule.</p>
                </div><!--
                --><div class="col-md-6 no-pad left vcenter">
                    <img src="/img/buy-2.png" class="half_width" alt="Schedule" />
                </div>
            </div>
        </div>
    </section>
    <section class="lease">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-md-6 no-pad right vcenter">
                    <img src="/img/buy-3.png" class="half_width" alt="Access" />
                </div><!--
                --><div class="col-md-6 vcenter half-text">
                    <h1>ACCESS</h1>
                    <p>Gain access to your desired listing and explore the property. Optional features such as a walkthrough narration from the owner provide valuable details and insights to the listing.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sell">
        <div class="container">
            <div class="row">
                <div class="col-md-6 vcenter half-text">
                    <h1>SELECT</h1>
                    <p>Find the perfect listing? Show yourself or schedule a private showing with your agent, No agent? No problem! Access all the tools needed to negotiate and finance the deal – all via the Boxlty app.</p>
                </div><!--
                --><div class="col-md-6 no-pad left vcenter">
                    <img src="/img/buy-4.png" class="half_width" alt="Select" />
                </div>
            </div>
        </div>
    </section>
<section class="bg section-padding">
    <div class="container">
        <div class="row spacer">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-10 center">
                <h1><strong>MAKE YOUR MOVE</strong></h1>
                <h2>Find the way to your new home.</h2>
                <p class="text-center spacer"><button class="btn btn-lg btn-blue">explore</button></p>
            </div>
            <div class="col-md-1">&nbsp;</div>
        </div>
    </div>
</section>



