@using snapi
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div class="hero-unit faq">
    <div class="container hero">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-content">
                    <h1 class="your-move">FREQUENTLY ASKED QUESTIONS</h1>
                </div>
            </div>
        </div>
        <div class="row home-search spacer center">
            <div class="col-md-12">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="Search FAQ">
                    <a href="#" class="btn btn-search">search</a>
                </form>
                <h2 class="sub spacer no-color">With world-class customer service and a growing community of users, Boxlty is the easiest way for property owners to showcase and show their property from anywhere in the world. We're here to help you make your move!</h2>
            </div>
        </div>
    </div>
</div>

<section class="responsive-only-search">
    <div class="container">
        <div class="row home-search spacer center">
            <div class="col-md-12">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="Search FAQ">
                    <a href="#" class="btn btn-search">search</a>
                </form>
                <h2 class="sub spacer no-color">With world-class customer service and a growing community of users, Boxlty is the easiest way for property owners to showcase and show their property from anywhere in the world. We're here to help you make your move!</h2>
            </div>
        </div>
    </div>
</section>


<section class="faq spacer-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="circle">
                    <img src="/img/buy-icon.png" alt="buy" />
                </div>
            </div>
            <div class="col-md-8">
                <h4>Why should I buy or sell a home using Boxlty?</h4>
                <p class="spacer">Listing a home with a traditional real estate broker can be quite expensive. 
                In a strong market, the list-to-sell cycle time can be short as a few days. 
                With most real estate searches beginning online and providing instant property access, 
                Boxlty system and agents empowers you with access to the technology you need to buy or sell a 
                home faster than the competition with better tools for less money. Access title services, appraisals, 
                and legal support all in one place. Save money on commission and have more money to invest in your future.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="faq spacer-large section-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="circle">
                    <img src="/img/forsale-icon.png" alt="buy" />
                </div>
            </div>
            <div class="col-md-8">
                <h4>What are the costs to list and sell with Boxlty?</h4>
                <p class="spacer">
                    Our full service offering includes the Boxlty home sale kit a $799 value which includes shipping. 
                    Boxlty is paid our fee only when your home sells. The fee for a successful sale is 1.5% + $799 of the selling price. 

                </p>
                <p class="spacer">
                    The Boxlty system allows for the Seller chose to pay a buyer's agent free for agents that bring a 
                    qualified buyer that completes the purchase of your property. Commissions are always negotiable, 
                    Boxlty recommends the seller to offer 1.5-2% of the sale price or a $2,500 flat fee to a buyer agent. 
                    If no buyer agent is involved congratulations you just saved more of your hard earned property equity 
                    which you can use for negotiation or to put down on your next home. 
                    Contact Boxlty if you wish to discuss buyer agent commission strategies that get results.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="faq spacer-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="circle">
                    <img src="/img/support-icon.png" alt="buy" />
                </div>
            </div>
            <div class="col-md-8">
                <h4>Why are Boxlty's fees much less than a traditional broker?</h4>
                <p class="spacer">A typical broker charges a fee equal to 6% + of the selling price on 
                average and up to an additional $750 in transaction fees for a $300,000 home, a traditional 
                broker's fee is $18,750+. Yikes! 
                Boxlty's fee is typically only 1.5% plus a $799 equipment fee, for the same $300,000 home our fee is only $5299.
                 </p>
                <p class="spacer">
                    The Boxlty Showing package includes the Smart Lock/Lockbox, Signs and other tools that will be delivered 
                    to you, the kit also comes with real services including advertising your home on the MLS and top real 
                    estate sites, HDR photo services and more. When you receive an offer, your lead agent will act as your 
                    trusted advisor, negotiating on your behalf and staying aligned with your priorities with full transparency 
                    of the entire process. Our fee is payable at closing. Boxlty is able to charge such a low fee because we have 
                    implemented breakthrough technology that streamlines the listing, showings, negotiation and the closing process. 
                    You get everything a traditional real estate agent offers, plus much more.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="faq spacer-large section-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="circle">
                    <img src="/img/paper-icon.png" alt="Homes Worth" />
                </div>
            </div>
            <div class="col-md-8">
                <h4>How do I know what my home is really worth?</h4>
                <p class="spacer">Boxlty agents use recent sales data in your neighborhood and information 
                from public source such as your local taxing authority to give you an estimate for you to 
                establish the price offering of your home. Boxlty provides a free automated estimate of your 
                home's selling price, but it is just an estimate, not an appraisal. You can order a full appraisal 
                of your home by a licensed appraisal or a Comparative Value Analysis by a licensed real estate agent in your state.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="faq spacer-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="circle">
                    <img src="/img/network-icon.png" alt="Network" />
                </div>
            </div>
            <div class="col-md-8">
                <h4>How can I ensure my property will look professional like others I see online?</h4>
                <p class="spacer">Most buyers start their home search online and quality photography gives your home an advantage.
                 The Boxlty system includes professional real estate photography from one of our trusted professionals included in the service.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg faq spacer-large section-padding">
    <div class="container">
        <div class="row spacer">
            <div class="col-md-4">
                <div class="circle">
                    <img src="/img/lease-icon.png" alt="Lease Icon" />
                </div>
            </div>
            <div class="col-md-8">
                <h4>How will I show my property? I work...a lot!</h4>
                <p class="spacer">
                    No problem, that's why we built Boxlty's patented showing system that allows you to give buyers access to the 
                    property from your office, home or even while you're on vacation, right from your phone or set it and forget it
                     with open house scheduling. Our proprietary lockbox and ID verification system allows you to securely show your
                     home and have access to showing information. You can provide access to not just showings but Inspectors, Insurance 
                    agents, repairmen all remotely right through the app. Only want qualified buyer to have access, no problem only want 
                    to have the home available to show on weekends no problem, have it available during the weekdays, again no problem. 
                    Showing access is the key to successful real estate sales, the more showings the property gets the more chances of it 
                    selling. Boxlty's showing system solves the biggest problem in selling or leasing homes.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="faq spacer-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="circle">
                    <img src="/img/camera-icon.png" alt="Camera" />
                </div>
            </div>
            <div class="col-md-8">
                <h4>Let's talk security... You want me to show my home with no one there?</h4>
                <p class="spacer">
                    Sure, listen this is a valid concern, how can you protect your property from individuals with 
                    bad intentions to steal or damage your property. Realistically this is the same concern that agents 
                    have when they show a home or hold an open house to strangers, they don't do background checks, can't 
                    verify who they are and some don't even require them to be pre-qualified to show your property. 
                    What can they do if the person they let into your home steals or damages your property, by the time 
                    the agent or home owner contact the police they may just a have a bogus name and a faint description 
                    to provide to the authorities. Boxlty's patented showing system instantly verifies the visitor's identity 
                    against public data, credit reporting bureaus, and social media accounts with facial recognition technology. 
                    If there is an incident, the police will have a full digital fingerprint to find the individual. 
                </p>
                <p class="spacer">
                    For additional piece of mind all Boxlty showings are covered by a $100,000 Insurance coverage against theft or damage related to an ID verified showing.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg faq spacer-large section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="circle">
                    <img src="/img/forsale-icon.png" alt="For Sale" />
                </div>
            </div>
            <div class="col-md-8">
                <h4>I'm a seller who is already being represented by a broker. Can I still list my home using Boxlty?</h4>
                <p class="spacer">
                    No. Since Boxlty is a Broker that utilizes an exclusive listing agreement, our service is not available to 
                    sellers who are already represented by a broker to sell their home. Boxlty offers tools and support for 
                    unrepresented sellers to take full control over the sales process without paying the large commissions of 
                    a traditional real estate company.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="faq spacer-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="circle">
                    <img src="/img/paper-icon.png" alt="Paper" />
                </div>
            </div>
            <div class="col-md-8">
                <h4>Is it necessary for me to hire an attorney to sell my home?</h4>
                <p class="spacer">
                    No. In most real estate markets within the United States a Title Company can handle every aspect of a real 
                    estate transaction. However, if you'd like a licensed Boxlty Real estate agent to help you with the process 
                    including negotiation, or have an attorney to evaluate documents or act as an escrow agent for down payments, 
                    you can utilize Boxlty's network of real estate and legal professionals.
                </p>
            </div>
        </div>
    </div>
</section>
