@using snapi
@{
    ViewBag.Title = "Sell";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div class="hero-unit sell">
    <div class="container hero">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-content">
                    <h1 class="your-move">SELL</h1>
                    <h2 class="sub">Helping you sell your home with technology, security and support.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-overlay"></div>
</div>

<section class="section-pad medium gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1 class="no-margin">LIST NOW</h1>
                <h3>Access all the tools, technology, and experience needed to sell your home.</h3>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 no-pad right vcenter">
                <img src="/img/sell-1.png" class="half_width" alt="Complete Kit" />
            </div><!--
            --><div class="col-md-6 vcenter half-text">
                <h1>COMPLETE KIT</h1>
                <p>Boxlty simplifies the real estate transaction process by giving your listing the smart access tools, smart signs and technology to market, show, and negotiate the sale of your home without the large commission fees.</p>
            </div>
        </div>
    </div>                                                      
</section>
<section class="gray-bg">                                                     
    <div class="container">
        <div class="row">
            <div class="col-md-6 vcenter half-text">
                <h1>LIST</h1>
                <p>Showcase your property from anywhere in the world and get notified of offers and showings by potential buyers. Enjoy peace of mind with Boxlty's smart ID security access and experience at a fraction of the costs.</p>
            </div><!--
            --><div class="col-md-6 no-pad left vcenter">
                <img src="/img/sell-2.png" class="half_width" alt="List" />
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-6 no-pad right vcenter">
                <img src="/img/sell-3.png" class="half_width" alt="Setup" />
            </div><!--
            --><div class="col-md-6 vcenter half-text">
                <h1>SETUP</h1>
                <p>Boxlty's Home Center helps you and your Boxlty agent set up your smart access locks, showing schedules, and even negotiate the sale of your home. Our centralized dashboard simplifies the home selling process by giving you all the tools you need in one place.</p>
            </div>
        </div>
    </div>
</section>
<section class="gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 vcenter half-text">
                <h1>TRACK</h1>
                <p>We make communication simple by connecting you to the home selling process directly through the app. Boxlty's notification system informs you of buyer views, inquiries and offers. Review ID verifications of your home viewings through our secure smart showing system with security features such as gps geo-tagging and facial recognition.</p>
            </div><!--
            --><div class="col-md-6 no-pad left vcenter">
                <img src="/img/sell-4.png" class="half_width" alt="Track" />
            </div>
        </div>
    </div>
</section>

<section class="pricing-tables spacer-large">
    <div class="container content">
        <div class="row">
            <!-- Pricing -->
            <div class="col-md-4">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>STARTER</h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li class="stripe-even">
                            At vero eos
                        </li>
                        <li class="stripe-odd">
                            No Support
                        </li>
                        <li class="stripe-even">
                            Fusce condimentum
                        </li>
                        <li class="stripe-odd">
                            Ut non libero
                        </li>
                        <li class="stripe-even">
                            Consecte adiping elit
                        </li>
                    </ul>
                    <div class="pricing-footer">
                        <h4>
                            <i>$</i>5<i>.49</i>
                        </h4>
                        <h5>
                            Per Month
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing pricing-active hover-effect">
                    <div class="pricing-head pricing-header-special">
                        <h3>
                            <span>MOST POPULAR</span>
                            FULL ACCESS
                        </h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li class="stripe-even">
                            At vero eos
                        </li>
                        <li class="stripe-odd">
                            No Support
                        </li>
                        <li class="stripe-even">
                            Fusce condimentum
                        </li>
                        <li class="stripe-odd">
                            Ut non libero
                        </li>
                        <li class="stripe-even">
                            Consecte adiping elit
                        </li>
                    </ul>
                    <div class="pricing-footer extra">
                        <h4>
                            <i>$</i>5<i>.49</i>
                        </h4>
                        <h5>
                            Per Month
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            POWER
                        </h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li class="stripe-even">
                            At vero eos
                        </li>
                        <li class="stripe-odd">
                            No Support
                        </li>
                        <li class="stripe-even">
                            Fusce condimentum
                        </li>
                        <li class="stripe-odd">
                            Ut non libero
                        </li>
                        <li class="stripe-even">
                            Consecte adiping elit
                        </li>
                    </ul>
                    <div class="pricing-footer">
                        <h4>
                            <i>$</i>5<i>.49</i>
                        </h4>
                        <h5>
                            Per Month
                        </h5>

                    </div>
                </div>
            </div>

            <!--//End Pricing -->
        </div>
        <!-- Savings Slider Here:
           <div class="row">
               <div class="col-md-12 text-center">
                   <img src="/img/savings_slider.png" />
               </div>
           </div> -->
    </div>
    
</section>
<section class="bg spacer-large section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1 class="spacer-large">Access Your Listings From Anywhere</h1>
                <h2>MOBILE DASHBOARD</h2>
            </div>
        </div>
        <div class="row spacer">
            <div class="col-md-4 center">
                <img src="/img/phone1_white.png" class="phone-img" alt="Phone" />
            </div>
            <div class="col-md-4 center">
                <img src="/img/phone2_white.png" class="phone-img" alt="Phone" />
            </div>
            <div class="col-md-4 center">
                <img src="/img/phone3_white.png" class="phone-img" alt="Phone" />
            </div>
        </div>
    </div>
</section>
<section class="gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 no-pad right left sell_img">
                <img src="/img/monitor_visits.jpg" class="half_width" alt="Track" />
                <div class="sell_img_overlay">
                    <h1>Monitor<br /><span>Visits</span></h1>
                </div>
            </div>
            <div class="col-md-6 no-pad right left sell_img">
                <img src="/img/visible_signage.jpg" class="half_width" alt="Track" />
                <div class="sell_img_overlay">
                    <h1>Visible<br /><span>Signage</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>


