@using snapi
@{
    ViewBag.Title = "Smart Access";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div class="hero-unit lease">
    <div class="container hero">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-content">
                    <h1 class="your-move">Smart Access</h1>
                    <h2 class="sub">Boxlty empowers real people making real moves.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-overlay"></div>
</div>

<section class="gray-bg section-pad medium">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1 class="no-margin">OWN IT</h1>
                <h3>Get started with the most intelligent approach in real estate.</h3>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 no-pad right vcenter">
                <img src="/img/lease-1.png" class="half_width" alt="Plan" />
            </div><!--
            --><div class="col-md-6 vcenter half-text">
                <h1>PLAN</h1>
                <p>Get an appraisal, explore the market, and get the most bang for your buck. Save money on commission and have more money to invest in your future.</p>
            </div>
        </div>
    </div>
</section>
<section class="gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 vcenter half-text">
                <h1>SETUP</h1>
                <p>The majority of renters start their home searches on the internet. Boxlty will add your home to over 25 real estate websites and ensure maximum visibility to attract to potential lessees.</p>
            </div><!--
            --><div class="col-md-6 no-pad left vcenter">
                <img src="/img/lease-2.png" class="half_width" alt="Setup" />
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-6 no-pad right vcenter">
                <img src="/img/lease-3.png" class="half_width" alt="Connect" />
            </div><!--
            --><div class="col-md-6 vcenter half-text">
                <h1>CONNECT</h1>
                <p>We make communication simple by connecting renters and property owners directly through the app. Boxlty's notification system informs you of views and inquiries.</p>
            </div>
        </div>
    </div>
</section>
<section class="gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 vcenter half-text">
                <h1>INTERACT</h1>
                <p>The Boxlty system grants approved ID verified consumers immediate access to the property with smart signs, secure smart locks, and instant offer/application management features saving you the property showing time and money.</p>
            </div><!--
            --><div class="col-md-6 no-pad left vcenter">
                <img src="/img/lease-1.png" class="half_width" alt="Interact" />
            </div>
        </div>
    </div>
</section>
<section class="pricing-tables spacer-large">
    <div class="container content">
        <div class="row">
            <!-- Pricing -->
            <div class="col-md-4">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>STARTER</h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li class="stripe-even">
                            At vero eos
                        </li>
                        <li class="stripe-odd">
                            No Support
                        </li>
                        <li class="stripe-even">
                            Fusce condimentum
                        </li>
                        <li class="stripe-odd">
                            Ut non libero
                        </li>
                        <li class="stripe-even">
                            Consecte adiping elit
                        </li>
                    </ul>
                    <div class="pricing-footer">
                        <h4>
                            <i>$</i>5<i>.49</i>
                        </h4>
                        <h5>
                            Per Month
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing pricing-active hover-effect">
                    <div class="pricing-head pricing-header-special">
                        <h3>
                            <span>MOST POPULAR</span>
                            FULL ACCESS
                        </h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li class="stripe-even">
                            At vero eos
                        </li>
                        <li class="stripe-odd">
                            No Support
                        </li>
                        <li class="stripe-even">
                            Fusce condimentum
                        </li>
                        <li class="stripe-odd">
                            Ut non libero
                        </li>
                        <li class="stripe-even">
                            Consecte adiping elit
                        </li>
                    </ul>
                    <div class="pricing-footer extra">
                        <h4>
                            <i>$</i>5<i>.49</i>
                        </h4>
                        <h5>
                            Per Month
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            POWER
                        </h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li class="stripe-even">
                            At vero eos
                        </li>
                        <li class="stripe-odd">
                            No Support
                        </li>
                        <li class="stripe-even">
                            Fusce condimentum
                        </li>
                        <li class="stripe-odd">
                            Ut non libero
                        </li>
                        <li class="stripe-even">
                            Consecte adiping elit
                        </li>
                    </ul>
                    <div class="pricing-footer">
                        <h4>
                            <i>$</i>5<i>.49</i>
                        </h4>
                        <h5>
                            Per Month
                        </h5>

                    </div>
                </div>
            </div>

            <!--//End Pricing -->
        </div>
        <!-- Savings Slider Here:
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="/img/savings_slider.png" />
            </div>
        </div> -->
    </div>
</section>
<section class="bg spacer-large section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1>Access Your Listings From Anywhere</h1>
                <h2>MOBILE DASHBOARD</h2>
            </div>
        </div>
        <div class="row spacer">
            <div class="col-md-4 center">
                <img src="/img/phone1_white.png" class="phone-img" alt="Phone" />
            </div>
            <div class="col-md-4 center">
                <img src="/img/phone2_white.png" class="phone-img" alt="Phone" />
            </div>
            <div class="col-md-4 center">
                <img src="/img/phone3_white.png" class="phone-img" alt="Phone" />
            </div>
        </div>
    </div>
</section>
<!--
<section class="lease-footer spacer-large">
    <div class="row home-search spacer center">
        <div class="col-md-12">
            <h1>Looking for a place?</h1>
            <h2>Explore properties and download the Boxlty app for instant access</h2>
        </div>
    </div>
</section>
-->

