@using snapi
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}


<div class="hero-unit support">
    <div class="container hero">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-content">
                    <h1 class="your-move">SUPPORT SERVICES</h1>
                    <h2 class="sub">Experience Real Estate Reinvented. From start to finish, Boxlty provides you with the technology, support and guidance to successfully show and sell your home.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-overlay"></div>
</div>

<section class="support spacer-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-usd" aria-hidden="true"></i></h1>
                        <h1>Presale</h1>
                    </div>
                    <div class="get-started-content center">                      
                        <p>Boxlty will get you setup with the marketing you need to let buyers know your home is for sale or ready to view.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-users" aria-hidden="true"></i></h1>
                        <h1>Negotiation</h1>
                    </div>
                    <div class="get-started-content center">
                        
                        <p>Consult with a member of Boxlty's legal team to help you with contract negotiations or review the purchase and sale agreement.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-handshake-o" aria-hidden="true"></i></h1>
                        <h1>Closing</h1>
                    </div>
                    <div class="get-started-content center">                       
                        <p>A smooth closing is a coordinated effort. Boxlty offers title and escrow services in addition to helping you stay on top of your contract.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacer">
            <div class="col-md-12 center">
                <button class="btn btn-lg btn-blue">explore</button>
            </div>
        </div>
    </div>
</section>
<section class="contact section-pad medium">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1>CONTACT</h1>
                <h3>Get in touch with the Boxlty team.</h3>
            </div>
        </div>
        <div class="row">
            <form class="contact">
                <div class="col-md-6">
                    <input type="text" class="form-control spacer" id="name" placeholder="name">
                    <input type="text" class="form-control spacer" id="email" placeholder="email">
                    <input type="text" class="form-control spacer" id="phone" placeholder="phone">
                </div>
                <div class="col-md-6">
                    <select class="form-control spacer">
                        <option>select question</option>
                    </select>
                    <input type="text" class="form-control spacer description" id="description" placeholder="description" />
                    <button class="btn btn-lg btn-pink spacer pull-right">submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="gray-bg section-pad medium">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1>Selling Your Home the Boxlty Way</h1>
            </div>
        </div>
        <div class="row spacer-large">
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-sign-in" aria-hidden="true"></i></h1>
                        <h3>Log In</h3>
                    </div>
                    <div class="get-started-content">                      
                        <p>Check your views, respond to messages, upload new photos, add open houses, etc... Stay connected and regularly update your listing information.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-commenting" aria-hidden="true"></i></h1>
                        <h3>Communicate</h3>
                    </div>
                    <div class="get-started-content">                       
                        <p>Connect with interested parties. Make sure you are readly available to take or return phone call from potential buyers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-eye" aria-hidden="true"></i></h1>
                        <h3>See What's Happening</h3>
                    </div>
                    <div class="get-started-content">
                        <p>Watch livefeed of your home viewings through our secure virtual showing system. See how people are responding and make changes as needed.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row spacer">
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-star" aria-hidden="true"></i></h1>
                        <h3>Highlight Your Best Features</h3>
                    </div>
                    <div class="get-started-content">
                        <p>Listings with photos and video get significantly more views and inquiries than listings without. It's free, easy and will attract more potential buyers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-usd" aria-hidden="true"></i></h1>
                        <h3>Know Your Value</h3>
                    </div>
                    <div class="get-started-content">
                        <p>Selecting the right selling price is key. Price yourself a little below the market, and still net more in the end without using an agent.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-map" aria-hidden="true"></i></h1>
                        <h3>Market Your Listing</h3>
                    </div>
                    <div class="get-started-content">
                        <p>Depending on your Boxlty plan, you can print and order brochures online through the Boxlty store. Premium brochures are great takeaways for potential buyers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-pad medium">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1>Service Providers</h1>
            </div>
        </div>
        <div class="row spacer-large">
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-users" aria-hidden="true"></i></h1>
                        <h3>Agents</h3>
                    </div>
                    <div class="get-started-content">
                        <p>Consult with a member of Boxlty's team of real estate professionals to help you with contract negotiations or review the purchase and sale agreement.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-home" aria-hidden="true"></i></h1>
                        <h3>Mortgage</h3>
                    </div>
                    <div class="get-started-content">
                        <p>A smooth closing is a coordinated effort. Boxlty offers title and escrow services in addition to helping you stay on top of your contract contingency dates.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                        <h3>Inspection</h3>
                    </div>
                    <div class="get-started-content">
                        <p>Consider hiring a home inspector to check your home's systems, verify compliance, safety and determine the home's condition to decide on necessary repairs or just discolse them to your buyer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gray-bg section-pad medium">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1>Service Providers</h1>
            </div>
        </div>
        <div class="row spacer-large">
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-certificate" aria-hidden="true"></i></h1>
                        <h3>Title Companies</h3>
                    </div>
                    <div class="get-started-content">
                        <p>It's important to know your closing costs so you can factor that in your sales price. Boxlty's title partner can provide you with an estimated closing statement and the support of Boxlty's legal team throughout the process.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-thumbs-up" aria-hidden="true"></i></h1>
                        <h3>Cleaning Services</h3>
                    </div>
                    <div class="get-started-content">
                        <p>A well-kept home will attract more buyers. Investing in simple home improvements before putting your home on the market will increase its value and shorten sales time.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-plus-circle" aria-hidden="true"></i></h1>
                        <h3>Other</h3>
                    </div>
                    <div class="get-started-content">
                        <p>Title services, appraisals, and legal support all in one place. Boxlty empowers you with all the tools you need to buy or sell a home - and we're here to help when it's needed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


