@using snapi
@{
    ViewBag.Title = "Why Boxlty";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div class="hero-unit boxlty">
    <div class="container hero">
        <div class="row">
            <div class="col-md-6">&nbsp;</div>
            <div class="col-md-6">
                <div class="hero-content">
                    <h1 class="your-move">REAL ESTATE, OUT OF THE BOX</h1>
                    <h2 class="sub">Discover the tools you need to buy, lease or sell property from anywhere in the world.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-overlay"></div>
</div>

<section class="section-pad medium">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1>REVOLUTIONARY WAY TO SHOW, LEASE AND SELL HOMES</h1>
                <h3>Whether you're listing an apartment for rent, a builders model or your own home for sale - Boxlty connects and empowers home sellers, buyers, landlords and tenants at every corner of the market.</h3>
                <p class="center spacer"><button class="btn btn-lg btn-blue">explore</button></p>
            </div>
        </div>
    </div>
</section>
<section class="buy">
    <div class="container">
        <div class="row">
            <div class="col-md-6 no-pad right vcenter">
                <img src="/img/camera-sm.png" class="half_width" alt="Plug and Play" />
            </div><!--
            --><div class="col-md-6 vcenter half-text">
                <h1>PLUG AND PLAY</h1>
                <p>The Boxlty system takes only ten minutes to install, and can be moved from property to property, giving property managers and landlords full control of access to their properties with state of the art security and identification protocols. No commuting, no tracking keys and no risk of loss or theft.</p>
            </div>
        </div>
    </div>
</section>
<section class="sell">
    <div class="container">
        <div class="row">
            <div class="col-md-6 vcenter half-text">
                <h1>OWN IT</h1>
                <p>Sell for as low as 1.5%, It's your equity. You earned it, you keep it. Save on commission and invest in your future.</p>
            </div><!--
            --><div class="col-md-6 no-pad left vcenter">
                <img src="/img/ownit-sm.png" class="half_width" alt="Own It" />
            </div>
        </div>
    </div>
</section>
<section class="lease">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-6 no-pad right vcenter">
                <img src="/img/step-sm.png" class="half_width" alt="Step by Step" />
            </div><!--
            --><div class="col-md-6 vcenter half-text">
                <h1>STEP BY STEP</h1>
                <p>We know selling a home yourself can be complicated, which is why we've simplified the process. Our step-by-step process gives you everything you need to get your home on the market with ease.</p>
            </div>
        </div>
    </div>
</section>
<section class="get-started spacer-large why-boxlty">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1>GET STARTED</h1>
                <h3>IN 4 SIMPLE STEPS</h3>               
            </div>
        </div>
        <div class="row spacer-large">
            <div class="col-md-3">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-id-card-o" aria-hidden="true"></i></h1>
                    </div>
                    <div class="get-started-content">
                        <h3>CREATE YOUR PROFILE</h3>
                        <p>Create a user profile using your email address. Follow the promopts, and you'll receive an automatic valuation of your home and be prompted to upload pictures, videos, and documents.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-hand-o-up" aria-hidden="true"></i></h1>
                    </div>
                    <div class="get-started-content">
                        <h3>CHOOSE YOUR PLAN</h3>
                        <p>Choose a Boxlty plan that best fits your budget and marketing needs. Access all the tools, documents, and disclosures needed to buy or sell a home.</p>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-home" aria-hidden="true"></i></h1>
                    </div>
                    <div class="get-started-content">
                        <h3>SETUP YOUR HOME</h3>
                        <p>After choosing a plan, you'll receive your Boxlty lockbox, smart signs and marketing materials. We schedule your homes High Dynamic Range photography session, place your smart signs in the yard and install and sync your Boxlty smart lock/lockbox. Now you’re ready for showings and offers.</p>                   
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="get-started-box">
                    <div class="get-started-header">
                        <h1><i class="fa fa-handshake-o" aria-hidden="true"></i></h1>
                    </div>
                    <div class="get-started-content">
                        <h3>SEAL THE<br /> DEAL</h3>
                        <p>Manage buyer offers, negotiations, and contracts using the deal desk. Regularly check your views, respond to messages, upload new photos, set up open houses and discover new features.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacer">
            <div class="col-md-12 center">
                <button class="btn btn-lg btn-pink">Sign Up</button>
            </div>
        </div>
    </div>
</section>
<section id="q_testimonial" class="bg boxlty-life spacer-large section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1>BOXLTY LIFE</h1>
                <h3>SEE WHAT PEOPLE HAVE TO SAY</h3>
            </div>
        </div>

        <div class="row spacer-large">
            <div class="col-md-4">
                <img src="https://placeimg.com/320/320/any" />
            </div>
            <div class="col-md-8">
                <div class="testimonial-box">
                    <div data-bind="foreach:testimonial.list">
                        <div class="testimonial" data-bind="attr:{id:'l_testimonial_'+guid}" style="display:none">
                            <p class="testimonial" data-bind="html:note"></p>
                            <h4><span data-bind="html:name">Property Owner</span>; <span data-bind="html:location"></span></h4>
                        </div>
                    </div>
                </div>
                <div class="testimonial-controls">
                    <i class="fa fa-chevron-circle-left" data-bind="click:testimonial.gotoprev, fade:testimonial.index()>1"></i>
                    <span data-bind="foreach:testimonial.list">
                        <span class="badge badge-default badge-circle" data-bind="html:(sort), click:$parent.testimonial.gotoview"></span>
                    </span>
                    <i class="fa fa-chevron-circle-right" data-bind="click:testimonial.gotonext, fade:!(testimonial.index() >= testimonial.list().length)"></i>
                </div>
            </div>
        </div>

        @*<div class="row spacer-large">
            <div class="col-md-12">
                <div class="box-left">
                    <img src="https://placeimg.com/320/320/any" />
                </div>
                <div class="box-right">
                    <div data-bind="foreach:testimonial.list">
                        <div class="testimonial" data-bind="attr:{id:'l_testimonial_'+guid}" style="display:none">
                            <p data-bind="html:note"></p>
                            <h4><span data-bind="html:name">Property Owner</span>; <span data-bind="html:location"></span></h4>
                        </div>
                    </div>
                </div>
                <div class="box-right-bottom">
                    <div class="testimonial-controls">
                        <i class="fa fa-chevron-circle-left" data-bind="click:testimonial.gotoprev, fade:testimonial.index()>1"></i>
                        <span data-bind="foreach:testimonial.list">
                            <span class="badge badge-default badge-circle" data-bind="html:(sort), click:$parent.testimonial.gotoview"></span>
                        </span>
                        <i class="fa fa-chevron-circle-right" data-bind="click:testimonial.gotonext, fade:!(testimonial.index() >= testimonial.list().length)"></i>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>
