.m-t {
	margin-top:$gap;
}
.m-t-sm {
	margin-top:$gap-sm;
}
.m-t-md {
	margin-top:$gap-md;
}
.m-reset {
	margin:0;
}

.m-b {
	margin-bottom:$gap;
}
.m-b-sm {
	margin-bottom:$gap-sm;
}
.m-b-md {
	margin-bottom:$gap-md;
}

.m-b {
	margin-bottom:$gap;
}

.m-tb {
	margin-top:$gap;
	margin-bottom:$gap;
}

.block {
	display:block;
}

.inline {
    display: inline-block;
}

.row_no_margin{
    margin-left: 0px;
    margin-right: 0px;
}

.no_padding {
    padding: 0px 0px 0px 0px;
}