//== Colors
$text-color:                 #000;
$text-medium:                #777;
$text-light:                 #B0B0B0;

$page-bg:                    white;
$border-default:             #ddd;

//-- Font's
$font-default:              "TradeGothic", sans-serif;
$font-heading:              "TradeGothicLight", sans-serif;

$font-thin:                 "TradeGothicLight", sans-serif;
$font-light:                "TradeGothicLight", sans-serif;
$font-regular:              "TradeGothic", sans-serif;
$font-medium:               "Montserrat-Regular", sans-serif;
$font-bold:                 "TradeGothicBold", sans-serif;

//--- Spacing
$gap-xs:                     5px;
$gap-sm:                     10px;
$gap:                        20px;
$gap-md:                     30px;
$gap-lg:                     40px;

//--- Screen sizes
$screen-sm-min:              767px;
$screen-sm-ls:               1024px;
$screen-sm-ls-max:           1025px;

$screen-md:                  1200px;

$screen-lg:                  1400px;


$sans-font: 'Open Sans', sans-serif;
$header-text: 64px;
$sub-header-text: 32px;
$white: #fff;
$black: #000;
$prop-details: #666;
$pink: #d63b96;
$blue: #86a8d0;
$gray: #999;
$gray-bg: #efefef;
$section-bg: #f6f6f6;
