@using snapi
@{
    ViewBag.Title = "Lockbox Video";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}


@*Page title*@
<div class="container container_body spacer-large">
    <div class="row">
        <div class="col-md-12 text-center spacer">
            <h1 class="text-uppercase section-font deal_title">Showing Center</h1>
        </div>
    </div>
</div>>


@*showing Section*@
<section class="spacer section-padding">
    <div class="container">
        <div class="row section-font sectionbottomspacing">

            <i class="fa fa-film fa-3x col-md-1" aria-hidden="true"></i>
            <h2 class="settings section-font text-uppercase col-md-6 settings_nomargin">Video Media Center</h2>
        </div>

        <div>
            <ul class="list-vertical spacer">
                <li class="deskspacing">
                    Reqest Escorted Showing Only <a class="fa fa-users icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="deskspacing">
                    Change Rules of Showing <a class="fa fa-gavel icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="">
                    Request Feeback From Showing <a class="fa fa-commenting icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="deskspacing">
                    <a class="btn btn-md btn-pink spacer">Show NOW</a>
                </li>
            </ul>
        </div>

    </div>
</section>




@*video Section *@
<section class="bg spacer section-padding">
    <div class="container">
        <div class="row section-font sectionbottomspacing">
            <i class="fa fa-video-camera fa-3x col-md-1" aria-hidden="true"></i>
            <h2 class="settings section-font text-uppercase col-md-6 section-bottom-spacing settings_nomargin">Camera Settings</h2>
        </div>
        <div>
            <ul class="list-vertical spacer">
                <li class="deskspacing">
                    Shared Video View <a class="fa fa-desktop icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="">
                    Sync Cameras <a class="fa fa-refresh icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="deskspacing">
                    <a class="btn btn-md btn-blue spacer">Start Sync</a>
                </li>
                <li class="deskspacing spacer">
                    Live Camera Feed <a class="fa fa-play-circle icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="deskspacing">
                    View Archived Footage<a class="fa fa-archive icon_margin_left" aria-hidden="true"></a>
                </li>
            </ul>
        </div>

    </div>
</section>



@*lockbox controls Section*@
<section class="spacer section-padding">
    <div class="container">
        <div class="row section-font sectionbottomspacing">

            <i class="fa fa-lock fa-3x col-md-1" aria-hidden="true"></i>
            <h2 class="settings section-font text-uppercase col-md-6 settings_nomargin">Lockbox Controls</h2>
        </div>

        <div>
            <ul class="list-vertical spacer">
                <li class="deskspacing">
                    Lockbox Scheduler <a class="fa fa-calendar icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="">
                    Sync Lockbox <a class="fa fa-refresh icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="">
                    <a class="btn btn-md btn-blue spacer">Start Sync</a>
                </li>
                <li class="deskspacing spacer">
                    Authorize Buyer <a class="fa fa-thumbs-up icon_margin_left" aria-hidden="true"></a>
                </li>
                <li class="deskspacing">
                </li>
            </ul>
        </div>
        
    </div>
</section>




@*Showing/lockbox button & Help section*@
<section class="bg spacer section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 spacer-large">
                
            </div>
            <div class="col-md-6 spacer-large">
                <div class="text-center pull-right">
                    Need Help?<br />
                    <a href="/account/support" class="btn btn-md btn-blue spacer">Support Center</a>
                </div>
            </div>
        </div>
    </div>
</section>